.c{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    display:flex;
    justify-content:top;
    align-items: center;
	flex-wrap: wrap;
	min-height: 500px;
	/* min-width: 100vh; */

}
.SeOfCards
{
	margin-top: 50px;
align-items: center;
text-align: center;
text-size-adjust: 100px;
}
.SeOfCards.h1{
	font-size: 200px;
}
.box_c{
    position: relative;
    width: 300px;
    height: 300px;
    display:flex;
    justify-content: top;
    align-items: center;
    margin: 40px;
    transition: 0.5s;
    background: #060c21;
}
.box_c:hover{
    height: 400px;
}
.box_c .imgbc{
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height:100%;
    padding:10px;
    box-sizing: border-box;
}
.box_c .imgbc img{

	/* position:fixed; */
	max-height: 100%;
	max-width: 100%;
	/* width: 300px;
	height: 300px; */
    opacity: 0.1;
	transition: 0.5s;
	/* object-fit: cover; */
	/* z-index: 9999999999; */

}
.box_c:hover .imgbc img{
	width: 300px;
	height: 300px;
	z-index: 9999999999;
	opacity: 1;
	object-fit: cover;

}
.box_c .c_content{
	position: absolute;
	bottom: 0;
	left:10px;
	right:10px;
	bottom:10px;
	height: 90px;
	background:rgba(0,0,0,0.4); 
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	opacity: 0;
	transition: .5;
}
.box_c:hover .c_content{
	opacity: 1;

}
.box_c .c_content h2{
font-size: 20px;
color: #ffff;
font-weight: 500;
line-height: 20px;
letter-spacing: 1px;
}
.box_c .c_content h2 span{
font-size: 14px;
color: #ffff;
font-weight: 200;

letter-spacing: 2px;
}
.box_c:before{
	content: "";
	position:absolute;
	top: -2px;
	left:-2px;
	right: -2px;
	bottom: -2px;
	background: #ffff;
	z-index: -1;

	}
.box_c:after{
	content: "";
	position:absolute;
	top: -2px;
	left:-2px;
	right: -2px;
	bottom: -2px;
	background: #ffff;
	z-index: -2;
	filter:blur(40px);

	}
.box_c:before,
.box_c:after
{
	background: linear-gradient(235deg,#772aff,#010615,#2196f3);
}
